/* Styles for Final Project - WTPN */

body {
    background-color: #f4f8f9;
}

.content {
    max-width: 500px;
    margin: auto;
}

.jumbotron {
    text-align: right;
}

h2 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;            
    color: darkgreen;
}

h4 {
    font-family: 'Kalam', cursive;
}

#accordion {
    background-color: whitesmoke;
}

/* button to open/close panels */

.btn {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #d3edf1;
    border-radius: 0;
    color: #4a4646;      
}

.btn-primary.focus, .btn-primary:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 0;
}

.btn:hover {
    border: none;
    background-color: cadetblue;    
}

/* show/hide panel */

.info {
   display: none; 
   background-color: #a4c2cc;
}

/* button to show contact details */

.contact {
    float: right;
    border: 0;
    background-color: transparent;
}

.contact:before {
    border: none;
}

.contact:hover {
    border: none;
}

/* contact button text */

.text {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 85%;    
}

/* button icon */

.fa {
    font-size: 320%;
}

/* contact details info */

.bio {
    display: none;
    width: 220px;
    background-color: #e9ecef;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 95%;
    font-weight: bold;
    text-align: left;    
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;    
    position: relative;   
    left: 102%;
}

/* summary button */

#summary {   
    text-align: center;
    background-color: white;  
    color: green;
}

#summary:hover {
    color: darkgreen;
}

/* popup summary box */

.popup {
    display: none;
    z-index: 1;
    
    width: 420px;
    
    background-color: whitesmoke;
    border-width: 2px;
    border-color: green;
    padding: 10px 15px 10px 10px;
    position: absolute;
    top: 5%;
    left: 10%;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    overflow: auto;
}

ul {
    list-style: none;
} 

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 90%;
}