/* Styles for Final Project - WTPN */

body {
    background-color: #f4f8f9;
}

.content {
    max-width: 500px;
    margin: auto;
}

.jumbotron {
    text-align: right;
}

h2 {
    text-align: center;
    font-weight: bold;    
}

h4 {
    font-family: 'Kalam', cursive;
}

#accordion {
    background-color: whitesmoke;
}

/* styles for button to open/close panel */

.btn {
    background-color: #d3edf1;
    border-radius: 0;
    color: #4a4646;
    
}

.btn-primary.focus, .btn-primary:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 0;
}

.btn:hover {
    border: none;
    background-color: cadetblue;
    transition: 2s;
}

/* style for show/hide panel */

.info {
   display: none; 
   background-color: #a4c2cc;
}

/* styles for button to show contact details */

.contact {
    float: right;    
}

.fa {
    font-size: 320%;
}

/* styles for contact details info */

span {
    display: none;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 10px;
        
    margin-top: -5px;           
    position: relative;   
    left: 102%;
}


.row #summary {
    text-align: center;
    background-color: white;  
    color: green;
}

.row #summary:hover {
    color: darkgreen;
}

.footer {
    text-align: center;
    font-size: 90%;
}